@import '@/styles/variables';

.item-card {
  display: flex;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  border: solid $black 2px;
  padding: 8px 8px 8px 24px;
  background-color: $white;
  & > * {
    display: flex;
  }
  &__title {
    align-items: center;
    flex: 1 0 auto;
  }
  &__button {
    flex: 0 1 auto;
  }
}