@import '@/styles/variables';

.home {
  height: 100%;
  padding: 0 1rem;
  @mixin grid 1;
  @mixin responsive $md, min {
    @mixin grid 2;
  }
  @mixin responsive $xl, min {
    padding-left: 20%;
    padding-right: 20%;
  }
  & .logo {
    display: flex;
    justify-content: center;
    padding: 1rem;
    &:first-of-type {
      align-items: flex-end;
      @mixin responsive $md, min {
        align-items: center;
      }
    }
    @mixin responsive $md, min {
      padding: 0;
      align-items: center;
      height: 100%;
    }
    & img {
      height: 150px;
      @mixin responsive $md, min {
        height: 300px;
      }
    }
  }
}

