.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .project {
    margin: 1rem auto;
    padding: 0 0.5rem;
    justify-content: center;
    display: flex;
    flex-flow: column;
    width: 50%;

    &__cover {
      max-width: 300px;
      margin: 0.5rem auto;
    }

    &__title {
      font-weight: bold;
    }

    &__cat {
      font-style: italic;
    }
  }
}