@import '../../../styles/mixins/_mixins.css';
@import '../../../styles/variables/_variables.css';

.menu-item {
  text-transform: uppercase;
  padding: 0.5rem;
  text-decoration: none;
  color: $yellow;
  @mixin font-medium;
}

.menu-item:visited {
  text-decoration: none;
}
.menu-item.router-link-active {
  text-decoration: underline;
}