@define-mixin font-regular {
  font-family: "Aleo", serif;
  font-weight: 400;
}

@define-mixin font-medium {
  font-family: "Aleo", serif;
  font-weight: 600;
}

@define-mixin font-heavy {
  font-family: "Aleo", serif;
  font-weight: 800;
}